html{
    background-color: black;
}
img{
    height: 100px;
    width: 100px;
    width: 100%;
    border: 5PX solid white;
}

h1{
    color: white;
    font-family: "Caveat", cursive;
    text-align: center;
    text-transform: uppercase;
}

p{
    color: white;
    text-align: center;
}

div{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}
